body {
  background-color: rgba(10, 89, 237, 0.866);
  background-size: cover;
  padding-top: 30px;
}
fieldset {
  color: rgb(36, 35, 35);
  background-image: url(bg.jpg);
  background-size: cover;
  border: 1px solid rgb(42, 41, 41);
  border-radius: 10px;
  margin: auto;
  padding: 15px;
  width: 300px;
}
legend {
  text-align: center;
  color: rgb(27, 12, 12);
  font-weight: bolder;
}
input[type="text"],
[type="radio"],
[type="password"],
[type="date"],
select {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 8px;
  padding: 10px;
  width: fit-content;
  outline-style: solid;
  outline-width: 1px;
}
button {
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 1px solid black;
  padding: 8px;
  font-weight: 600;
  font-size: 0.85rem;
  border-radius: 5px;
  font-size: medium;
  color: black;
  margin-top: 10px;
  margin-left: 15px;
  transition: all 1s ease-out;
}
button:hover {
  background-color: rgb(104, 101, 101);
  color: aliceblue;
}
label {
  font-weight: 600;
  margin-top: 5px;
}

.log-in {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.log-in a {
  color: aliceblue;
  text-decoration: none;
}

.log-in a:hover {
  color: rgb(215, 134, 12);
  text-decoration: underline;
}
